html {
    margin: 0;
    padding: 0;
    width: 100%;
}
* {
    box-sizing: border-box;
}

body {
    font-family: 'Bitter', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;

}

header {
    color: black;
    padding-bottom: 25px;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}

a {
    font-size: 1.5em;
}

/* admin page */
label {
    margin: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 0;
}

label {
    margin: 0;
}

#admin-nav {
    background-color:darkslategrey;
    width: 100%;
}

#admin-ul {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    padding-right: 50px;
    list-style: none;
    font-size: .8em;
}

li.admin > a {
    color:white;
    text-decoration: none;
    cursor: pointer;
}

#submit-button, .remove-button {
    font-family: 'Bitter', serif;
    font-size: 1em;
    cursor: pointer;
}

#input-description {
    display: flex;
    flex-direction: column;
}

#description {
    width: 100%;
    height: 50px;
}

#column-2 {
    border-left: 1px dotted black;
    padding-left: 40px;
}

#inventory-list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr auto;
    row-gap: 30px;
    column-gap: 10px;
    padding-left: 0;
}

li.remove-li {
    border-bottom: 1px dotted black;
}
